*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #333;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
input{
    display: none;
}
#btn{
    height: 50px;
    width: 200px;    
    background-color: rgb(59, 188, 145);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    color:aliceblue;
    padding: 12px 30px;
    font-family:  'Gill Sans MT';
}
#main #btn:hover{
    background-color: rgb(5, 113, 77);
}